<div class="card d-flex justify-content-center align-items-center posts">
  <div class="card-body post-container">
    <h4 class="card-title mb-2 feeling-title">
      {{title}}
    </h4>
    <h6 class="card-subtitle mb-3 username-date">
      {{user.user_name}} on {{format_date date_stamp}}
    </h6>
    <p class="card-text post-text">{{content}}</p>
    <div class="buttons">
      <a href="/posts/{{id}}"><i class="fa-solid fa-comment"></i></a>
    </div>
  </div>
</div>