<div class="card">
  <div class="card-header  flex-row justify-space-between">
    <h2>
      <div class="col-8">{{post.title}}</div>
    </h2>
    <div class="col-3">posted by {{post.user.user_name}} on {{format_date post.date_stamp}}
    </div>
  </div>
  <p class="card-body">
    {{post.content}}
  </p>
</div>
<input type="hidden" name="post-id" value="{{post.id}}" />
<div class="card">
  <div class="card-header"></div>
  <form class="card-body" id="new-comment-form">

    <p class="form-label">Comment:</p>
    <textarea class="form-input" id="comment-body" name="comment-body"></textarea>
    <button type="submit" class="btn btn-primary">Submit:</button>
  </form>
  {{> comment-partials post.comments}}
</div>
<script src="/js/comment.js"></script>